import library pandas dan import dataset

In [ ]:
import pandas as pd 

data = pd.read_csv('vgsales.csv')
data = data.drop(columns=['Year', 'NA_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'EU_Sales', 'Platform', 'Publisher'], axis=1)
data.head()

   Rank                      Name         Genre
0     1                Wii Sports        Sports
1     2         Super Mario Bros.      Platform
2     3            Mario Kart Wii        Racing
3     4         Wii Sports Resort        Sports
4     5  Pokemon Red/Pokemon Blue  Role-Playing

cek length dataset

In [ ]:
print(len(data))

16598

univariate exploratory data analysis

cek informasi dataset

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    16598 non-null  int64
 1   Name    16598 non-null  object
 2   Genre   16598 non-null  object
dtypes: int64(1), object(2)
memory usage: 389.1+ KB

# cek missing value

In [ ]:
data.isnull().sum()

Rank     0
Name     0
Genre    0
dtype: int64

# membersihkan missing value dengan fungsi dropna

In [ ]:
data_clean = data.dropna()
data_clean

        Rank                                              Name         Genre
0          1                                        Wii Sports        Sports
1          2                                 Super Mario Bros.      Platform
2          3                                    Mario Kart Wii        Racing
3          4                                 Wii Sports Resort        Sports
4          5                          Pokemon Red/Pokemon Blue  Role-Playing
...      ...                                               ...           ...
16593  16596                Woody Woodpecker in Crazy Castle 5      Platform
16594  16597                     Men in Black II: Alien Escape       Shooter
16595  16598  SCORE International Baja 1000: The Official Game        Racing
16596  16599                                        Know How 2        Puzzle
16597  16600                                  Spirits & Spells      Platform

[16598 rows x 3 columns]

cek ulang missing value pada variable data_clean

In [ ]:
data_clean.isnull().sum()

Rank     0
Name     0
Genre    0
dtype: int64

cek length rank

In [ ]:
len(data_clean['Rank'])

16598

cek data name

In [ ]:
data_clean.Name.unique()

array(['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii', ...,
       'Plushees', 'Woody Woodpecker in Crazy Castle 5', 'Know How 2'],
      dtype=object)

cek data genre

In [ ]:
data_clean.Genre.unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

# membuang data duplicat pada variabel

In [ ]:
preparation = data_clean.drop_duplicates('Rank')
preparation

        Rank                                              Name         Genre
0          1                                        Wii Sports        Sports
1          2                                 Super Mario Bros.      Platform
2          3                                    Mario Kart Wii        Racing
3          4                                 Wii Sports Resort        Sports
4          5                          Pokemon Red/Pokemon Blue  Role-Playing
...      ...                                               ...           ...
16593  16596                Woody Woodpecker in Crazy Castle 5      Platform
16594  16597                     Men in Black II: Alien Escape       Shooter
16595  16598  SCORE International Baja 1000: The Official Game        Racing
16596  16599                                        Know How 2        Puzzle
16597  16600                                  Spirits & Spells      Platform

[16598 rows x 3 columns]

data preparation

In [ ]:
data_game = preparation
data_game.sample(5)

        Rank                                        Name     Genre
11465  11467                                       Qubed    Puzzle
12547  12549                                      Create    Action
5569    5571  Shin Nippon Pro Wrestling: Toukon Retsuden  Fighting
4636    4638               Cabela's Legendary Adventures    Sports
15432  15435                Tenkai Knights: Brave Battle    Action

import librari tfidfvectorizer digunakan untuk sistem recomendasi berdasarkan genre

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

# inisalisasi tfidvectorizer
tf = TfidfVectorizer()

# melakukan perhitungan idf pada data cuisine
tf.fit(data_game['Genre'])

# mapping array dari fitur index integer ke fitur name
tf.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['action',
 'adventure',
 'fighting',
 'misc',
 'platform',
 'playing',
 'puzzle',
 'racing',
 'role',
 'shooter',
 'simulation',
 'sports',
 'strategy']

# malakukan fit lalu di transformasi ke bentuk matrix

In [ ]:
tfidf_matrix = tf.fit_transform(data_game['Genre'])

tfidf_matrix.shape

(16598, 13)

mengubah vektor tf-idf dalam bentuk matriks dengan fungsi todense() Untuk menghasilkan vektor tf-idf dalam bentuk matriks

In [ ]:
tfidf_matrix.todense()

matrix([[0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

# Membuat dataframe untuk melihat tf-idf matrix
# Kolom diisi dengan genre
# Baris diisi dengan nama game

In [ ]:


pd.DataFrame(
    tfidf_matrix.todense(),
    columns=tf.get_feature_names(),
    index=data_game.Name
).sample(22, axis=0)

,action,adventure,fighting,misc,platform,playing,puzzle,racing,role,shooter,simulation,sports,strategy
Name,,,,,,,,,,,,,
Jade Empire,0.0,0.0,0.0,0.0,0.0,0.707107,0.0,0.0,0.707107,0.0,0.0,0.0,0.0
Backyard Baseball '10,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
Bejeweled Twist,0.0,0.0,0.0,0.0,0.0,0.000000,1.0,0.0,0.000000,0.0,0.0,0.0,0.0
Angry Birds Star Wars,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,1.0
Mass Effect 2,0.0,0.0,0.0,0.0,0.0,0.707107,0.0,0.0,0.707107,0.0,0.0,0.0,0.0
NHL 2K6,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
Baseball Blast!,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
Speed Zone,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.000000,0.0,0.0,0.0,0.0
NHL 2K9,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
Monster Jam: Path of Destruction,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.000000,0.0,0.0,0.0,0.0
Major League Baseball 2K9,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
The Shoot,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,1.0,0.0,0.0,0.0
Doom 3 BFG Edition,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,1.0,0.0,0.0,0.0
Derby Time 2006,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
Dream C Club: GoGo,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Max Payne,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,1.0,0.0,0.0,0.0
All-Star Baseball 2002,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
Power Pro Kun Pocket 1+2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
Shin Nippon Pro Wrestling: Toukon Retsuden 3,0.0,0.0,1.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Colin McRae Rally,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.000000,0.0,0.0,0.0,0.0
F.E.A.R. 3,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,1.0,0.0,0.0,0.0
Super Mario Bros. 2,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

tahapan cosine similarity untuk menghitung drajat kesamaan

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity


cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 1.]])

Membuat dataframe dari variabel cosine_sim dengan baris dan kolom berupa nama resto

In [ ]:
cosine_sim_df = pd.DataFrame(cosine_sim, index=data_game['Name'], columns=data_game['Name'])
print('Shape: ', cosine_sim_df.shape)

cosine_sim_df.sample(5, axis=1).sample(10, axis=0)

Shape:  (16598, 16598)

Name,Tony Hawk's Pro Skater 4,Dave Mirra Freestyle BMX 2,Looney Tunes: Acme Arsenal,"Monsters, Inc. Scream Team",Senran Kagura: Sh?jo-tachi no Shinei
Name,,,,,
Xbox Music Mixer,0.0,0.0,0.0,0.0,0.0
Last Escort: Club Katze,0.0,0.0,0.0,0.0,0.0
Act of Aggression,0.0,0.0,0.0,0.0,0.0
Winter Sports 3: The Great Tournament,1.0,1.0,0.0,0.0,0.0
Sonic Adventure 2,0.0,0.0,0.0,1.0,0.0
LEGO Harry Potter: Years 5-7,0.0,0.0,1.0,0.0,1.0
Backyard NFL Football '10,1.0,1.0,0.0,0.0,0.0
Man vs. Wild,0.0,0.0,1.0,0.0,1.0
Terraria,0.0,0.0,1.0,0.0,1.0
Aliens: Colonial Marines,0.0,0.0,0.0,0.0,0.0

membuat fungsi untuk mendapatkan recomendasi

In [ ]:
import numpy as np

def game_recommendations(nama_game, similarity_data=cosine_sim_df, items=data_game[['Name', 'Genre']], k=15):

    index = similarity_data.loc[:,nama_game].to_numpy().argpartition(
        range(-1, -k, -1))
    
    # Mengambil data dengan similarity terbesar dari index yang ada
    closest = similarity_data.columns[index[-1:-(k+2):-1]]
    
    # Drop nama_resto agar nama resto yang dicari tidak muncul dalam daftar rekomendasi
    closest = closest.drop(nama_game, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

cek data

In [ ]:
data_game[data_game.Name.eq('Spirits & Spells')]

        Rank              Name     Genre
15675  15678  Spirits & Spells  Platform
16597  16600  Spirits & Spells  Platform

cek info dataset

In [ ]:
data_game.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 0 to 16597
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    16598 non-null  int64
 1   Name    16598 non-null  object
 2   Genre   16598 non-null  object
dtypes: int64(1), object(2)
memory usage: 518.7+ KB

menggunakan fungsi untuk melihat recomendasi

In [ ]:
game_recommendations('Mario Kart Wii')

                             Name   Genre
0         Micro Machines 64 Turbo  Racing
1        MotorStorm: Pacific Rift  Racing
2                 Forza Horizon 2  Racing
3                 Forza Horizon 2  Racing
4   Monster 4x4: Masters of Metal  Racing
5   Monster 4x4: Masters of Metal  Racing
6                   Ridge Racer 7  Racing
7         NASCAR: Dirt to Daytona  Racing
8         NASCAR: Dirt to Daytona  Racing
9                            Apex  Racing
10                    LEGO Racers  Racing
11                    LEGO Racers  Racing
12                      Road Trip  Racing
13                     Kart Racer  Racing
14                           DiRT  Racing