import library pandas dan import dataset

In [2]:
import pandas as pd 

data = pd.read_csv('vgsales.csv')
data = data.drop(columns=['Year', 'NA_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'EU_Sales', 'Platform', 'Publisher'], axis=1)
data

        Rank                                              Name         Genre
0          1                                        Wii Sports        Sports
1          2                                 Super Mario Bros.      Platform
2          3                                    Mario Kart Wii        Racing
3          4                                 Wii Sports Resort        Sports
4          5                          Pokemon Red/Pokemon Blue  Role-Playing
...      ...                                               ...           ...
16593  16596                Woody Woodpecker in Crazy Castle 5      Platform
16594  16597                     Men in Black II: Alien Escape       Shooter
16595  16598  SCORE International Baja 1000: The Official Game        Racing
16596  16599                                        Know How 2        Puzzle
16597  16600                                  Spirits & Spells      Platform

[16598 rows x 3 columns]

cek length dataset

In [3]:
data.describe()

               Rank
count  16598.000000
mean    8300.605254
std     4791.853933
min        1.000000
25%     4151.250000
50%     8300.500000
75%    12449.750000
max    16600.000000

In [4]:
print(len(data))

16598

univariate exploratory data analysis

cek informasi dataset

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    16598 non-null  int64
 1   Name    16598 non-null  object
 2   Genre   16598 non-null  object
dtypes: int64(1), object(2)
memory usage: 389.1+ KB

# cek missing value

In [6]:
data.isnull().sum()

Rank     0
Name     0
Genre    0
dtype: int64

# membersihkan missing value dengan fungsi dropna

In [7]:
data_clean = data.dropna()
data_clean

        Rank                                              Name         Genre
0          1                                        Wii Sports        Sports
1          2                                 Super Mario Bros.      Platform
2          3                                    Mario Kart Wii        Racing
3          4                                 Wii Sports Resort        Sports
4          5                          Pokemon Red/Pokemon Blue  Role-Playing
...      ...                                               ...           ...
16593  16596                Woody Woodpecker in Crazy Castle 5      Platform
16594  16597                     Men in Black II: Alien Escape       Shooter
16595  16598  SCORE International Baja 1000: The Official Game        Racing
16596  16599                                        Know How 2        Puzzle
16597  16600                                  Spirits & Spells      Platform

[16598 rows x 3 columns]

cek ulang missing value pada variable data_clean

In [8]:
data_clean.isnull().sum()

Rank     0
Name     0
Genre    0
dtype: int64

cek length rank

In [9]:
len(data_clean['Rank'])

16598

cek data name

In [10]:
data_clean.Name.unique()

array(['Wii Sports', 'Super Mario Bros.', 'Mario Kart Wii', ...,
       'Plushees', 'Woody Woodpecker in Crazy Castle 5', 'Know How 2'],
      dtype=object)

cek data genre

In [11]:
data_clean.Genre.unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

# membuang data duplicat pada variabel

In [12]:
preparation = data_clean.drop_duplicates('Rank')
preparation

        Rank                                              Name         Genre
0          1                                        Wii Sports        Sports
1          2                                 Super Mario Bros.      Platform
2          3                                    Mario Kart Wii        Racing
3          4                                 Wii Sports Resort        Sports
4          5                          Pokemon Red/Pokemon Blue  Role-Playing
...      ...                                               ...           ...
16593  16596                Woody Woodpecker in Crazy Castle 5      Platform
16594  16597                     Men in Black II: Alien Escape       Shooter
16595  16598  SCORE International Baja 1000: The Official Game        Racing
16596  16599                                        Know How 2        Puzzle
16597  16600                                  Spirits & Spells      Platform

[16598 rows x 3 columns]

data preparation

In [13]:
data_game = preparation
data_game.sample(5)

        Rank                                               Name         Genre
14289  14292                          Arthur and the Invisibles     Adventure
3014    3016  Club Penguin: Elite Penguin Force - Herbert's ...     Adventure
11767  11769                             Super Ghouls 'n Ghosts      Platform
1456    1458                    Mario & Luigi: Partners in Time  Role-Playing
16578  16581                      Outdoors Unleashed: Africa 3D        Sports

import librari tfidfvectorizer digunakan untuk sistem recomendasi berdasarkan genre

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

# inisalisasi tfidvectorizer
tf = TfidfVectorizer()

# melakukan perhitungan idf pada data cuisine
tf.fit(data_game['Genre'])

# mapping array dari fitur index integer ke fitur name
tf.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['action',
 'adventure',
 'fighting',
 'misc',
 'platform',
 'playing',
 'puzzle',
 'racing',
 'role',
 'shooter',
 'simulation',
 'sports',
 'strategy']

malakukan fit lalu di transformasi ke bentuk matrix

In [15]:
tfidf_matrix = tf.fit_transform(data_game['Genre'])

tfidf_matrix.shape

(16598, 13)

mengubah vektor tf-idf dalam bentuk matriks dengan fungsi todense() Untuk menghasilkan vektor tf-idf dalam bentuk matriks

In [16]:
tfidf_matrix.todense()

matrix([[0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

Membuat dataframe untuk melihat tf-idf matrix
Kolom diisi dengan genre
Baris diisi dengan nama game

In [17]:
pd.DataFrame(
    tfidf_matrix.todense(),
    columns=tf.get_feature_names(),
    index=data_game.Name
).sample(22, axis=0)

,action,adventure,fighting,misc,platform,playing,puzzle,racing,role,shooter,simulation,sports,strategy
Name,,,,,,,,,,,,,
Jane's Hotel,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,1.0,0.0,0.0
Armored Core 2: Another Age,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,1.0,0.0,0.0
F-Zero X,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.000000,0.0,0.0,0.0,0.0
Home Run King,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
Front Line,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Monster Truck Madness,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.000000,0.0,0.0,0.0,0.0
Your Shape featuring Jenny McCarthy,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
Blood Wake,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,1.0,0.0,0.0,0.0
Midnight Mysteries: The Edgar Allan Poe Conspiracy,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Urban Chaos: Riot Response,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,1.0,0.0,0.0,0.0
Tales of Legendia,0.0,0.0,0.0,0.0,0.0,0.707107,0.0,0.0,0.707107,0.0,0.0,0.0,0.0
Shark Tale,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Sonic Unleashed,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Stuntman: Ignition,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.000000,0.0,0.0,0.0,0.0
High Velocity Bowling,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
StokEd,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1.0,0.0
FlingSmash,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
Dragon Ball Z: Sagas,0.0,0.0,1.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
SimCity (2013),0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,1.0,0.0,0.0
World of Warcraft,0.0,0.0,0.0,0.0,0.0,0.707107,0.0,0.0,0.707107,0.0,0.0,0.0,0.0
LEGO Marvel Super Heroes,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
DreamWorks Super Star Kartz,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.000000,0.0,0.0,0.0,0.0

tahapan cosine similarity untuk menghitung drajat kesamaan

In [18]:
from sklearn.metrics.pairwise import cosine_similarity


cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 1., 0., 0.],
       ...,
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 0., 0., 1.]])

Membuat dataframe dari variabel cosine_sim dengan baris dan kolom berupa nama resto

In [19]:
cosine_sim_df = pd.DataFrame(cosine_sim, index=data_game['Name'], columns=data_game['Name'])
print('Shape: ', cosine_sim_df.shape)

cosine_sim_df.sample(5, axis=1).sample(10, axis=0)

Shape:  (16598, 16598)

Name,SafeCracker: The Ultimate Puzzle Adventure,NBA Live 15,Gundam Breaker,The Tale of Despereaux,James Noir's Hollywood Crimes
Name,,,,,
Bottom of the 9th,0.0,1.0,0.0,0.0,0.0
Jikkyou Powerful Pro Yakyuu 3 '97 Haru,0.0,1.0,0.0,0.0,0.0
London 2012: The Official Video Game of the Olympic Games,0.0,1.0,0.0,0.0,0.0
High Rollers Casino,0.0,0.0,0.0,0.0,0.0
Pro Rally,0.0,0.0,0.0,0.0,0.0
Moto Racer DS,0.0,0.0,0.0,0.0,0.0
Mary-Kate and Ashley: Winners Circle,0.0,0.0,1.0,0.0,0.0
Aria: The Origination ~Aoi Wakusei no El Cielo~,0.0,0.0,0.0,0.0,1.0
Machine Head,0.0,0.0,0.0,0.0,0.0
Diablo II,0.0,0.0,0.0,0.0,0.0

membuat fungsi untuk mendapatkan recomendasi

In [23]:
import numpy as np

def game_recommendations(nama_game, similarity_data=cosine_sim_df, items=data_game[['Name', 'Genre']], k=15):

    index = similarity_data.loc[:,nama_game].to_numpy().argpartition(
        range(-1, -k, -1))
    

    closest = similarity_data.columns[index[-1:-(k+2):-1]]
    closest = closest.drop(nama_game, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

cek data

In [24]:
data_game[data_game.Name.eq('Spirits & Spells')]

        Rank              Name     Genre
15675  15678  Spirits & Spells  Platform
16597  16600  Spirits & Spells  Platform

cek info dataset

In [25]:
data_game.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 0 to 16597
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    16598 non-null  int64
 1   Name    16598 non-null  object
 2   Genre   16598 non-null  object
dtypes: int64(1), object(2)
memory usage: 518.7+ KB

menggunakan fungsi untuk melihat recomendasi

In [27]:
game_recommendations('Know How 2')

                                            Name   Genre
0                       Neopets Puzzle Adventure  Puzzle
1                       Neopets Puzzle Adventure  Puzzle
2                      Merv Griffin's Crosswords  Puzzle
3                      Merv Griffin's Crosswords  Puzzle
4                             Pac-Man Collection  Puzzle
5        Jewel Link Chronicles: Legend of Athena  Puzzle
6                   Egg Mania: Eggstreme Madness  Puzzle
7                   Egg Mania: Eggstreme Madness  Puzzle
8                   Egg Mania: Eggstreme Madness  Puzzle
9                                  Best Of Tests  Puzzle
10                       WarioWare: Smooth Moves  Puzzle
11                                Honeycomb Beat  Puzzle
12  Umihara Kawase Jun: Second Edition Kanzenban  Puzzle
13                            Jewel Master Egypt  Puzzle
14                  Hello Kitty: Big City Dreams  Puzzle